@model IEnumerable<StoreFront.DATA.EF.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

        <div class="row">
            <div class="col-8 offset-2">
                <h1>Customers</h1>
                <p>
                    <a asp-action="Create" class="btn btn-warning">Add New Customer</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                            @Html.DisplayNameFor(model => model.ShipToName)
                            </th>
                            <th>
                            @Html.DisplayNameFor(model => model.ShipToCity)
                            </th>
                            <th>
                            @Html.DisplayNameFor(model => model.ShipToState)
                            </th>
                            <th>
                            @Html.DisplayNameFor(model => model.ShipToZip)
                            </th>
                            <th>
                            @Html.DisplayNameFor(model => model.UserId)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.CustomerId">@Html.DisplayFor(modelItem => item.ShipToName)</a>
                            
                            </td>
                            <td>
                            @Html.DisplayFor(modelItem => item.ShipToCity)
                            </td>
                            <td>
                            @Html.DisplayFor(modelItem => item.ShipToState)
                            </td>
                            <td>
                            @Html.DisplayFor(modelItem => item.ShipToZip)
                            </td>
                            <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.CustomerId" >Edit</a> |
                                
                                <a asp-action="Delete" asp-route-id="@item.CustomerId" >Delete</a>
                            </td>
                        </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
