@model StoreFront.DATA.EF.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <img src="~/img/@Model.ProductImage" class="img-fluid" style="height:fit-content" />
        </div>
        <div class="col-lg-7 pb-5">
            <h2 class="font-weight-semi-bold">@Model.ProductName</h2>

            <hr />

            <strong>@Html.DisplayNameFor(model => model.Category): </strong><p class="text-info d-inline-block">@Html.DisplayFor(model => model.Category.CategoryName)</p>

            <br />

            <strong>Brand: </strong><p class="text-info d-inline-block">@Html.DisplayFor(model => model.Manufacturer.ManufacturerName)</p>

            <br />

            <strong>@Html.DisplayNameFor(model => model.UnitsInStock): </strong><p class="text-info d-inline-block">@Html.DisplayFor(model => model.UnitsInStock)</p>

            <br /> <strong>@Html.DisplayNameFor(model => model.UnitsOnOrder): </strong><p class="text-info d-inline-block">@Html.DisplayFor(model => model.UnitsOnOrder)</p>

            <br />
            <strong>@Html.DisplayNameFor(model => model.ProductDescription):</strong>
          
            <p class="mb-4 text-info">@Html.DisplayFor(model => model.ProductDescription)</p>
            <hr />

            @*<div class="d-flex mb-3">
                <div class="text-primary mr-2">
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star-half-alt"></small>
                    <small class="far fa-star"></small>
                </div>
                <small class="pt-1">(50 Reviews)</small>
            </div>*@
            <h3 class="font-weight-semi-bold mb-4">@Model.ProductPrice.ToString("c")</h3>

            <div class="d-flex align-items-center mb-4 pt-2">
                @*<div class="input-group quantity mr-3" style="width: 130px;">
                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-minus">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control bg-secondary text-center" value="1">
                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-plus">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>*@
                <div>
                    @*<button asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@Model.ProductId" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>*@
                    <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@Model.ProductId" class="btn btn-success px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</a>
                </div>
                <div>
                    <a asp-action="Index" class="btn btn-primary btn-plus mx-3">Return to Products</a>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model?.ProductId" class="btn btn-info btn-plus">Edit</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

















@*<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitsOnOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discontinued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discontinued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.ManufacturerName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
