@*@model IEnumerable<StoreFront.DATA.EF.Models.Product>*@
    @model IPagedList<StoreFront.DATA.EF.Models.Product>
    @using X.PagedList.Mvc.Core;
    @using X.PagedList;

@{
    ViewData["Title"] = "Shop Tile View";
}

<!-- Shop Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-2 col-md-12">
            <!-- Price Start -->
 @*           <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Price</h5>
                <form asp-action="Index" method="Get">
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" checked id="price-all">
                        <label class="custom-control-label" for="price-all">All Price</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-1">
                        <label class="custom-control-label" for="price-1">$0 - $100</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-2">
                        <label class="custom-control-label" for="price-2">$100 - $250</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-3">
                        <label class="custom-control-label" for="price-3">$250 - $500</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-4">
                        <label class="custom-control-label" for="price-4">500 - $1000</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" id="price-5">
                        <label class="custom-control-label" for="price-5">$1000 - $2000</label>
                    </div>
                </form>
            </div>*@
            <!-- Price End -->
            <!-- Manufacturer Start -->
                <h5 class="font-weight-semi-bold mb-4">Manufacturer</h5>
            <form asp-action="Index" method="get">                
                <select name="manufacturerId" onchange="this.form.submit()" class="form-control text-center mb-3" asp-items="ViewBag.ManufacturerId">
                    <option value="0">[Manufacturer]</option>
                </select>                
            </form>
            <!-- Manufacturer End -->
           
        </div>
        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-start mb-4">
                        <form asp-action="Index" method="get">
                            <div class="input-group">
                                <input type="text" class="form-control" name="searchTerm" onchange="this.form.submit()" placeholder="Search Products" autocomplete="off" value="@ViewBag.SearchTerm">

                                <div class="input-group-append">
                                    <span class="input-group-text bg-transparent text-primary" >
                                        <i class="fa fa-search" ></i>                                                                               
                                    </span>
                                </div>
                            </div>
                        </form>
                        <div>
                                <a asp-action="Index" asp-route-id=""class="btn btn-info mx-3">Clear Filter</a>
                        </div>
                        @if (ViewBag.NbrResults != null)
                        {
                            <p class="alert-info p-2 my-0 text-center">
                                Showing @ViewBag.NbrResults Result@(ViewBag.NbrResults > 1 ? "s" : "") for '@ViewBag.SearchTerm'
                            </p>
                        }
                        <div class="dropdown ml-3" align="right">
                            <a class="btn btn-link rounded mr-4" asp-action="TableView"><i class="fa-solid fa-list fa-2xl"></i></a>                  
                        </div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-5 mb-4" style="max-width: 275px">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0" style="max-height:300px;">
                                <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-sm text-dark p-0">
                                <img class="img-fluid w-100" src="~/img/@item.ProductImage" alt=""></a>
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h5 class="text-info mb-3">@item.Manufacturer.ManufacturerName</h5>
                                <h5 class="text-truncate font-weight-bolder mb-3">@item.ProductName</h5>
                                <div class="d-flex justify-content-center">
                                    <h5 class="text-success">@Html.DisplayFor(modelItem => item.ProductPrice)</h5>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-sm text-dark p-0" style="font-size: 1.2 rem">
                                    <i class="fas fa-eye text-primary mr-1"></i>View Detail
                                </a>

                                <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.ProductId" class="btn btn-sm text-dark p-0" style="font-size: 1.2 rem"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
        <div class="row mt-5">
            <div class=" mx-auto text-center">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                <div class="w-100">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new {page, searchTerm = ViewBag.SearchTerm, manufacturerId = ViewBag.ManufacturerId, id = ViewBag.Id}))
                </div>
            </div>
        </div>    
</div>




























@*
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsOnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discontinued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@